# --- Sistema Operativo ---
# Archivos basura de Mac y Windows
.DS_Store
Thumbs.db

# --- Python ---
# Archivos compilados y temporales
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Entornos Virtuales ---
# Evita subir gigabytes de librerías locales
.venv/
venv/
env/
ENV/

# --- Jupyter Notebooks ---
# Puntos de guardado temporales que ensucian el historial
.ipynb_checkpoints/

# --- Configuración de Editores ---
# Configuraciones locales de VS Code (opcional pero recomendado)
.vscode/
# Ignorar imágenes locales (gestionadas por DVC)
urban_flow/data/raw/imgs/
